* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Roboto, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    /* background-image: linear-gradient(to top left, #b721ff, #21d4fd); */
    background-color: #388841;
}

.container {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.loginBox {
    height: 600px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.heading {
    font-size: 1.5em;
    text-align: center;
    margin: 10%;
    color: #333;
}



.cred input {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #808080;
    color: #333;
    box-sizing: border-box;
    font-size: 1em;
}

.cred input:focus {
    outline: none;
}

.password-block{
    display: flex;
}

.showPasswordBtn {
    height: 50px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #808080;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
}

.showPasswordBtn:hover {
    text-decoration: underline;
}

.submitBtn {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    height: 50px;
    border-radius: 2em;
    background: -webkit-linear-gradient(right, #b721ff, #21d4fd);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.submitBtn:hover {
    filter: brightness(90%);
}

p {
    color: red;
    margin-top: 15px;
}

.dont-have-account {
    text-align: center;
    margin-top: 20px;
    color: #333;
}


.dont-have-account a {
    color: #007bff;
    text-decoration: none;
}

.dont-have-account a:hover {
    text-decoration: underline;
}